svgwrite
cairosvg 
bitsandbytes
git+https://github.com/openai/CLIP.git
opencv-python 
scikit-image 
pillow
python-dotenv
transformers
diffusers
pandas
matplotlib
grpcio
polars
google
hf_xet
more_itertools